@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito:wght@700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
small {
  font-size: 10px;
  color: rgb(255, 99, 99);
}

input,
textarea {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
input:focus {
  outline: none;
  border: 1px solid orange;
}
textarea:focus {
  outline: none;
  border: 1px solid orange;
}
button {
  cursor: pointer;
}
input[type="radio"] {
  cursor: pointer;
}
mark.red {
  color: red;
  background-color: transparent;
}
.wrap {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 36.5rem;
  color: white;
  padding: 1rem;
}
.judul {
  display: flex;
  font-size: 50px;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}
.pemisah {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#input-nama,
#input-nama-belakang {
  width: 8.2rem;
  height: 30px;
  border-radius: 5px;
}
.nama {
  margin-top: 0.1rem;
}
.inputNama {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.namaPertama,
.namaKedua {
  display: flex;
  flex-direction: column;
}
#email-inp {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}
.box-choose {
  border: 2px dotted white;
  padding: 10px;
  height: 5.3rem;
}
.pemisah-topic {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.box-desc input {
  width: 300px;
  height: 320px;
  margin-bottom: 1rem;
}
.desc-text {
  margin-top: 0.1rem;
}
.pemisah-send-dan-input {
  display: flex;
  flex-direction: column;
}
.send {
  display: flex;
  justify-content: flex-end;
}
.send-but {
  font-size: 22px;
  width: 120px;
  height: 50px;
  background-color: orange;
  border: 0;
  color: white;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
}
.send-grey {
  font-size: 22px;
  width: 120px;
  height: 50px;
  background-color: grey;
  border: 0;
  color: white;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
}
.general-choose,
.bug-choose {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.name-email-topic {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.seperator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-top: 4rem;
}

.thank-m {
  color: orange;
  font-family: "Nunito", sans-serif;
}
